/*
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
*/

.post-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 300%;
}

.post-info {
	font-family: 'Pacifico', cursive;
}