/*
	font pairing 1
	font-family: 'Oswald', sans-serif;
	font-family: 'Raleway', sans-serif;
*/

.post {
	font-family: 'Oswald', sans-serif;
	line-height: 3em;
}

.post-text {
	font-size: 3.25em;
	font-family: 'Raleway', sans-serif;
	word-spacing: 0.25em;
	line-height: 1.25em;
	background: pink;
}

.post-info {
	font-size: 1.5em;
	color: gray;
}

.post-author {
	color: darkblue;
}